@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #151515;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.section-title{
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    line-height: 58px;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-color: #151515;
}

.header-main{
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
}

.header__inner{
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__list{
    display: flex;
    gap: 35px;
      
}

.menu__list-link{
    color: #fff;
    line-height: 19px;
    text-transform: uppercase;
}

.menu__list-link--active{
    color: #0066FF;
}

/* MAIN */

/* SECTION-TOP*/

.main{
    flex-grow: 1;
}

.top{
    color: #fff;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.title{
    font-size: 96px;
    line-height: 116px;
    padding-bottom: 40px;
}

.top__link{
    font-size: 36px;
    border: 1px solid #151515;
    background-color: #151515;
    padding: 23px;
    max-width: 350px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;      
}

/*SWIPER-SLIDER*/

.swiper::after{
    content: "";
    background: rgba(21, 21, 21, 0.3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.swiper-slide{
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-position: center;
    
}

.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    

}

.swiper-pagination-bullet-active{
    height: 3px;
    background-color: #fff;
    
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 30px;
}

/*SECTION-WHY-LEASE*/

.why-lease{
    padding: 150px 0;

}

.why-lease__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center; 

}

.why-lease__item-img{
    margin-bottom: 30px;

}

.why-lease__item-title{
    font-size: 24px;
    line-height: 29.05px;
    margin-bottom: 30px;
}

.why-lease__item-text{
    font-weight: 400;
    text-align: left;
}

/*SECTION-HOW-DOES*/

.how-does{
    padding-bottom: 150px;
}

.how-does__inner{
    max-width: 600px;
    margin: 0 auto;

}

.how-does__text{
font-weight: 400;
}

.how__does-title{
    font-size: 24px;
    line-height: 29.05px;
    padding-top: 50px;

}

.how__does-list{
padding: 50px 0 70px;
counter-reset: myCounter;
}

.how__does-item{
    list-style-type: none;
    width: 270px;
    font-weight: 400;
    position:relative;
    margin-left: auto;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-height: 63px;
}

.how__does-item + .how__does-item{
    margin-top: 40px;
}

.how__does-item::before{
    counter-increment: myCounter;
    content: counter(myCounter);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066ff;
    font-size: 48px;
    line-height: 58.09px;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    
}

/*VIDEO*/

.video{
padding-bottom: 150px;
}

.video__title{
   margin-bottom: 20px;

}

.video__text{
font-size: 24px;
line-height: 29.05px;
margin-bottom: 50px;
text-align: center;
}

.video__content{
    display: block;
    margin: 0 auto;
}

/*SECTION-IMPORTANT*/

.important{
padding-bottom: 150px;
}

.important__title{
margin-bottom: 20px;
}

.important__text{
font-weight: 400;
margin: 0 auto 50px;
max-width: 580px;
}

.important__list{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 40px;
}

.important__item-img{
margin-bottom: 20px;
}

.important__item-text{
font-weight: 400;
}




/* FOOTER */

.footer{
    background-color: #151515;
    color: #fff;
    padding: 50px 0 32px;

}

.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list{
    max-width: 250px;

}

.footer__menu-title{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 20px;

}

.footer__menu-item + .footer__menu-item{
    padding-top: 20px;

}

.footer__menu-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.app{
    display: flex;
    justify-content: center;
    gap: 39px;
    margin-bottom: 52px;
}

.footer__copy{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
}

.copy__nav{

}

.copy__nav-list{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

}

/*CONTACT-HTML*/

/*SECTION-CONTACTS*/

.contacts{
    padding: 100px 0 150px;

}

.contacts-title{
    margin-bottom: 20px;

}

.contacts__text{
    font-size: 24px;
    line-height: 29.05px;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 100px;

}

.form{
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.form__input{
    font-family: 'Inter', sans-serif;
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid #0066FF;
    margin-bottom: 50px;
    font-weight: 400;
    
    color: #151515;
    font-size: 16px;
    line-height: 1.3;
}

.form__input::placeholder{

    font-weight: 400;
    opacity: 0.5;
    color: #151515;
    font-size: 16px;
    line-height: 1.3;

}

.form__textarea{
    font-family: 'Inter', sans-serif;
    width: 100%;
    border: 1px solid #0066FF;
    margin-bottom: 50px;
    font-weight: 400;
    color: #151515;
    font-size: 16px;
    line-height: 1.3;
    resize: none;
    padding: 28px 20px;
    height: 290px;
}

.form__textarea::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    opacity: 0.5;
    color: #151515;
    font-size: 16px;
    line-height: 1.3;
}

.form__btn{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    background-color: #151515;
    border: 1px solid #151515;
    padding: 13px 61px;
    display: inline-block;
    margin: 0 auto;

}

/*sECTION-BLOG*/

.blog{
    padding-bottom: 150px;

}

.blog__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 83px;

}

.blog__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.blog__item-img{
    margin-bottom: 30px;
    width: 100%;

}

.blog__item-title{
    flex-basis: 446px;
    font-size: 24px;
    line-height: 29.05px;

}

.blog__item-link{
    font-weight: 400;
    color: #fff;
    border: 1px solid #0066FF;
    background-color: #0066FF;
    padding: 4px 20px;
    display: inline-block;

}

.showmore__link{
    font-weight: 400;
    color: #fff;
    border: 1px solid #151515;
    background-color: #151515;
    padding: 13px;
    width: 223px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

/*NEW-CARS.HTML*/

/*SECTION-CHOOSE*/

.choose{
    padding: 100px 0;

}

.tabs{
padding-bottom: 70px;
}

.tabs__btn{
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 80px;
    

}

.tabs__btn-item{
    font-family: 'Inter', sans-serif;
    color: #151515;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

.tabs__btn-item--active{
    color: #0066FF;
}

.tabs__content{

}

.tabs__content-item.tabs__content-item--active{
display: grid;
}

.tabs__content-item{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;

}


.card{
    text-align: center;

}

.card__img{
    display: block;
    

}

.card__content{
    padding: 0 5px;
    border: 1px solid #0066FF;
    border-top: none;
}

.card__title{
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;

}

.card__text{
    margin-bottom: 20px;
    font-weight: 400;
    

}

.card__price{
margin-bottom: 20px;
font-size: 24px;
line-height: 29px;
}

.card__link{
    display: block;
    font-family: 'Inter', sans-serif;
    color: #0066FF;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    border: 1px solid #0066FF;
    border-top: none;
    padding: 2px 0;

}

.menu__btn{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.menu__btn span{
    height: 2px;
    background-color: #fff;
    width: 100%;
}

/*ADAPTIV*/

@media (max-width: 1180px){
    .important__list{
        gap: 30px 20px;

    }

    .important__item-img{
        width: 100%;
    }
}

@media (max-width: 1040px){
    .video__content{
        width: 100%;
    }
}

@media (max-width: 860px){
    .menu__btn{
        display: flex;
    }

    .menu__btn, .logo{
        position: relative;
        z-index: 10;
    }

    .menu__list{
        position: absolute;
        z-index: 5;
        background-color: #151515;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        padding-top: 200px;
        height: 100vh;
        transform: translateY(-100%);
        transition: transform .3s ease;
    }

    .menu__list.menu__list--active{
        transform: none;
    }

    .why-lease__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .important__list{
        grid-template-columns: repeat(2, 1fr);

    }

}